<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>Rhythm Routes with Spotify</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<script>
	</script>
</head>

<body ng-cloak>


	<md-content>
		<div ui-view></div>
	</md-content>










	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUH7neg5-7nFM02tlPFQgw_IN8n9D3QMY&callback=doNothin">
	</script>
	<script type="text/javascript">
	function doNothin() {
		console.log('callback');
	}
		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				center: {
					lat: -34.397,
					lng: 150.644
				},
				zoom: 13
			});
			var infoWindow = new google.maps.InfoWindow({
				map: map
			});

			// Try HTML5 geolocation.
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var pos = {
						lat: position.coords.latitude,
						lng: position.coords.longitude
					};

					infoWindow.setPosition(pos);
					infoWindow.setContent('Location found.');
					map.setCenter(pos);
				}, function() {
					handleLocationError(true, infoWindow, map.getCenter());
				});
			} else {
				// Browser doesn't support Geolocation
				handleLocationError(false, infoWindow, map.getCenter());
			}
		}

		function handleLocationError(browserHasGeolocation, infoWindow, pos) {
			infoWindow.setPosition(pos);
			infoWindow.setContent(browserHasGeolocation ?
				'Error: The Geolocation service failed.' :
				'Error: Your browser doesn\'t support geolocation.');
		}
	</script>
	<!-- Ext Libs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-aria.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/SpotifyFactory.js"></script>
	<script src="/javascript/services/GoogleFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/SpotifyController.js"></script>
	<script src="/javascript/controllers/GoogleMapController.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
</body>

</html>
